@import "./reset.css";

@media (max-width: 800px){
    :root body{
        height: 150vh;
    }

    body main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 2fr repeat(5, 1fr);
        grid-template-areas:
          "current ..."
          "forecast forecast";
      }

    body #forecast {
        grid-area: forecast;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
      }
}

:root {
  --color-background: #27272a;
  --color-light: #f4f4f5;
  --color-medium-light: #a1a1aa;
  --color-medium-dark: #52525b;
  --color-dark: #3f3f46;
  --color-complementary1-light: rgb(124, 141, 226);
  --color-complementary1-dark: rgb(31, 26, 131);
  --color-complementary2-light: rgb(235, 151, 81);
  --color-complementary2-dark: rgb(131, 63, 14);
}

/* * {
    outline: dashed red;
} */



body {
  background-color: var(--color-background);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 6fr 0.5fr;
}

header {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

header > img {
  height: 192px;
}

/* toggle switch */
  
  .toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
  }
  
  .button-cover {
    height: 100px;
    margin: 20px;
    background-color: var(--color-background);
    border-radius: 4px;
  }
  
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  /* Button 1 */
  #button-1 .knobs:before {
    content: "°F";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: var(--color-complementary1-light);
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked + .knobs:before {
    content: "°C";
    left: 42px;
    background-color: var(--color-complementary2-light);
  }
  
  #button-1 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  
  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }


/* main display */


main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 5fr 1fr;
  grid-template-areas:
    "current ..."
    "forecast forecast";
}

#current {
  grid-area: current;
  font-size: 1.5rem;
}

#forecast {
    grid-area: forecast;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }

#current,
.another-day {
  display: grid;
  
align-items: center;
justify-items: center;
  margin: 20px;
  padding: 20px;
  background-color: var(--color-medium-dark);
  color: var(--color-light);
  border-radius: 2rem;
  box-shadow: 2px 2px 5px var(--color-complementary1-dark);
}

#current {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:  "descript descript"
                          "cityName cityName"
                          "date     date"
                          "temperat feelsLike"
                          "temperat humidity"
                          "temperat windSpeed"
                          "temperat cloudiness";
}

.another-day {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:  "date     date"
                          "descript descript"
                          "temperat feelsLike"
                          "temperat humidity"
                          "temperat windSpeed"
                          "temperat cloudiness"; 
}

.description{
    grid-area: descript;
    font-size: 1.5rem;
}

#current .description{
    font-size: 3rem;
}

.name {
    grid-area: cityName;
    font-size: 2rem;
}

.day {
    grid-area: date;
}

.temp {
    grid-area: temperat;
    font-size: 2rem;
}

.temp.active::after{
    content: ' °F'
}

.temp.active.celsius::after{
    content: ' °C';
}

#current .temp{
    font-size: 4rem;
}

.feelsLike {
    grid-area: feelsLike;
}

.feelsLike.active::before{
    content: "Feels like: "
}

.humidity {
    grid-area: humidity;
}

.humidity.active::before{
    content: "Humidity: "
}

.windSpeed {
    grid-area: windSpeed;
}

.windSpeed.active::before{
    content: "Wind speed: "
}

.cloudiness {
    grid-area: cloudiness;
}

.cloudiness.active::before{
    content: "Cloudiness: "
}

.another-day{
    font-size: 1rem;
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  gap: 2vw;
  background-color: var(--color-background);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
}

#github-logo {
  height: 30px;
}


